# WiFi SSID and password
wifi_ssid: "My Access Point"
wifi_password: "My Password"

# Fallback WiFi Hotspot AP passwords
esp32_s3_box_3_01_wifi_ap_password: ""

# Over-The-Air update passwords
esp32_s3_box_3_01_ota_esphome_password: ""

# Pre-shared Home Assistant API encryption keys
esp32_s3_box_3_01_api_encryption_key: ""
