name: yamllint
"on":
  pull_request:
    branches: ["main"]
    paths:
      - .github/workflows/yamllint.yaml
      - .yamllint.yaml
      - '**.yaml'
      - '**.yml'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Check YAML files
        run: yamllint --format github .
